<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author Add Form</title>
</head>
<body>

<form method="post" th:action="@{${author == null ? '/authors/add' : '/authors/edit-form/' + author.getId()}}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="${author?.name}"><br><br>

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" th:value="${author?.surname}"><br><br>

    <label for="country">Country:</label>
    <input type="text" id="country" name="country" th:value="${author?.country}"><br><br>

    <label for="biography">Biography:</label>
    <input type="text" id="biography" name="biography" th:value="${author?.biography}"><br><br>

    <button type="submit" th:text="${author?.id} != null ? 'Update Author' : 'Add Author'"></button>
    <a th:href="@{/authors}"><button type="button">Cancel</button></a>
    <a th:href="@{/books}"><button type="button">Go to home page</button></a>
</form>

</body>
</html>
